/*
Colors:
light-blue: #94DACA;
light-green: #4D808C;
blue:  #4D808C;
dark-blue: #2F4858;
grey: #3d4442;
*/

* {
  box-sizing: border-box;
}

main {
  margin-top: 90px;
}

body {
  margin: 0;
  padding: 0;
  color: #3d4442;
  background-color: #FFF;
  ;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*
Typography
*/

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  color: #2F4858;
  margin: .25em 0;
}

p {
  margin: 0;
}

a {
  font-family: 'Raleway', sans-serif;
  color: #4D808C;
  transition: all .5s;
  text-decoration: none;
}


a:hover {
  opacity: .9;
  position: relative;
  top: -1px;
  left: -1px;
}

i {
  font-size: 2em;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  text-align: center;
}

p {
  white-space: pre-line;
}

ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: .5em .75em;
  margin: 1em;
  font-size: inherit;
  border-radius: 6px;
  border: none;
  background-color: #2F4858;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  transition: all 1s;
}

button:hover {
  position: relative;
  top: -1px;
  left: -1px;
  -o-box-shadow: 1px 1px 1px rgba(47, 72, 88, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(47, 72, 88, 0.5);
  box-shadow: 1px 1px 1px rgba(47, 72, 88, 0.5);
}

/*
NavBar
*/

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  background-color: #94DACA;
  color: #3d4442;
  position: fixed;
  top: 0;
  height: 90px;
  z-index: 999;
  font-size: 1.25em;

  -o-box-shadow: 1px 1px 1px rgba(47, 72, 88, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(47, 72, 88, 0.5);
  box-shadow: 1px 1px 1px rgba(47, 72, 88, 0.5);
}

nav a {
  color: #FFF;
  text-decoration: none;
}

nav a h1 {
  color: #2F4858;
}

nav ul {
  padding: 0 1em;
}

nav li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 .5em;
}

.logo {
  width: 50px;
  height: 50px;
}

.navTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navTitle h1 {
  margin: 0 .5em;
  font-size: 2em;
}

.navRoom {
  margin-top: 6em;
  /* padding-top: 6em;
  position: relative;
  top: 0; */
}

.navIconContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 .5em;
}

.navIcon {
  max-width: 150%;
  max-height: 150%;
}

/* Pop Ups */

.popUp {
  position: fixed;
  top: 110px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  padding: 3em;
  background-color: #FFF;
  ;
  -o-box-shadow: 1px 1px 1px rgba(47, 72, 88, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(47, 72, 88, 0.5);
  box-shadow: 1px 1px 1px rgba(47, 72, 88, 0.5);
  z-index: 999;
}

.popUpClose {
  text-align: left;
  margin: 0;
}

.logInPopUp {
  display: block;
}

.signUpPopUp {
  display: none;
}

.addPostPopUp,
.addCityPopUp,
.authPopUp,
.editForm {
  display: none;
  z-index: 999;
}

/* Home Page*/

.home header {
  height: 50vh;
  width: 100%;
  background-image: url('./images/home1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section {
  padding: 1.25em 2em;
  background-color: #FFF;
}

.aboutParagraphs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutParagraphs article {
  width: 30%;
  background-color: #FFF;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

form p {
  text-align: center;
}

input {
  margin: .5em;
  padding: .25em .5em;
  font-size: inherit;
  border-radius: 6px;
  border: 2px solid #94DACA;
  background-color: #FFF;
}

input[type=submit] {
  padding: .5em;
  border: none;
  background-color: #2F4858;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
}

.inputField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputField label {
  width: 30%;
}

.warning {
  display: hidden;
  font-size: .75em;
  line-height: 1.25em;
  color: #de5632;
}

.addPostPopUp form {
  /* align-items: flex-start; */
}

textarea {
  margin: .5em;
  padding: .25em .5em;
  font-size: inherit;
  border-radius: 6px;
  border: 2px solid #94DACA;
  width: 100%;
  height: 15em;
}

select {
  width: 100%;
  text-align: center;
  font-size: inherit;
  font-family: 'Raleway', sans-serif;
  margin: .5em;
  color: #94DACA;
  background-color: #2F4858;
  height: 2em;
  font-weight: bold;
}

.error {
  border: 3px solid #de5632;
}

/* Log In/Sign Up Form */

.toggleSignUp {
  color: #4D808C;
  transition: all 1s;
}

.toggleSignUp:hover {
  position: relative;
  top: -3px;
  color: #94DACA;
}

.logInPopUp {
  text-align: center;
}

/* Profile */

.profileHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.profileHeader>* {
  margin: 0 4em;
  padding: 0;
}

.profilePicContainer {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 6px;
}

.profilePic {
  width: 200%;
}

.profile .posts {
  padding: 0 4em;
}

.profile .author {
  display: none;
}

/* Cities */
.citiesContainer {
  display: grid;
  grid-template-columns: 450px auto;
}

.cityNav {
  grid-column-start: 1;
  width: 450px;
  background-color: #d7f9f0;
  text-align: center;
  height: 100vh;
  z-index: 998;
  overflow: scroll;
  padding-top: 100px;
}

.cityLink {
  width: 80%;
  min-height: 150px;
  border-radius: 6px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 1em auto;
  background-color: #FFF;
  opacity: .9;
  -o-box-shadow: 1px 1px 1px rgba(47, 72, 88, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(47, 72, 88, 0.5);
  box-shadow: 1px 1px 1px rgba(47, 72, 88, 0.5);
}

.cityLink:hover {
  position: relative;
  top: -1px;
  left: -1px;
  opacity: 1;
  -o-box-shadow: 5px 5px 5px rgba(47, 72, 88, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(47, 72, 88, 0.5);
  box-shadow: 5px 5px 5px rgba(47, 72, 88, 0.5);
}

.cityLink>* {
  margin: .5em;
}

.cityLinkImg {
  width: 125px;
  height: 125px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cityLinkImg img {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.currentCity {
  grid-column-start: 2;
  height: 100vh;
  overflow: scroll;
  padding: 3em;
  /* z-index: -1; */
}

.City header {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.currentCity header>div {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cityImgContainer {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 6px;
}


.cityImg img {
  max-width: 150%;
}

.cityTitle {
  text-align: left;
}

.cityTitle h1 {
  text-align: left;
}

.addPost {
  align-self: flex-end;
}


/* POSTS */
article {
  border: 1px solid #94DACA;
  border-radius: 6px;
  padding: 3em;
  overflow: auto;
  max-width: 75vw;
  margin: 100px auto;
}

section article {
  margin: 3em auto;
}


.postImgContainer {
  width: 150px;
  height: 150px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  float: left;
  margin-right: 1em;

}

.profile .postImgContainer {
  display: none;
}

#postImg {
  width: 150%;
  margin: 0 auto;
}

.post {}

.posts {
  margin-top: 0;
}

.posts article {
  margin-top: 1em;
}

.author {
  font-size: 1.1em;
}

.postDate {
  color: #97B1AA;
  text-transform: uppercase;
  font-size: .75em;
  font-weight: bold;
}

.postContent {
  margin-top: .5em;
}

.readMore {
  float: right;
}

.postTitle a {
  color: #2F4858;
}